<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title>Home</title>
</head>

<body>
<div layout:fragment="content">
    <!-- Hero Start -->
    <div class="container-fluid bg-light py-6 my-6 mt-0">
        <div class="container text-center animated bounceInDown">
            <h1 class="display-1 mb-4">Our Team</h1>
            <ol class="breadcrumb justify-content-center mb-0 animated bounceInDown">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-dark" aria-current="page">Our Team</li>
            </ol>
        </div>
    </div>
    <!-- Hero End -->
    <!-- Team Start -->

    <div class="row g-4 justify-content-center">
        <div class="col-lg-3 col-md-6 d-flex justify-content-center" th:each="team : ${teams}">
            <div class="team-item rounded h-100 d-flex flex-column p-2 shadow" style="min-height: 520px; width: 100%; max-width: 300px;">
                <!-- Şəkil bir az daha böyük oldu -->
                <img class="img-fluid rounded-top" th:src="${team.photoUrl}" alt=""
                     style="object-fit: cover; height: 320px; width: 100%;">

                <!-- Məzmun hissəsi ortalanmış -->
                <div class="team-content bg-dark text-center py-3 rounded-bottom d-flex flex-column justify-content-between flex-grow-1" style="margin-top: auto; margin-bottom: auto;">

                    <!-- Ad və vəzifə -->
                    <div class="mt-auto pb-3">
                        <h4 th:text="${team.chefName}" class="text-primary mb-2" style="padding-top: 10px;">Chef Name</h4>
                        <p th:text="${team.professions}" class="text-white mb-0">Profession</p>
                    </div>

                    <!-- Sosial ikonlar -->
                    <div class="team-icon d-flex flex-column justify-content-center align-items-center mt-auto mb-2">
                        <a class="share btn btn-primary btn-md-square rounded-circle mb-2" href="#"><i class="fas fa-share-alt"></i></a>
                        <a class="share-link btn btn-primary btn-md-square rounded-circle mb-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="share-link btn btn-primary btn-md-square rounded-circle mb-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="share-link btn btn-primary btn-md-square rounded-circle mb-2" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->

</div>
</body>
</html>